* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  
}

body {
  /* background-color: #000; */
  background-color: #f1f1f1;
  margin: 0;
  font-family: "Satoshi-Variable", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}


.intro {
  display: flex;
  height: 100vh;
  justify-content: center;

}

.intro img {
  width: 617px;
  height: 416px;
  top: 78px;
  margin: auto;
  position: absolute;
  /* filter: invert(1); */
}

.intro .name1 {
  position: absolute;
  font-size: 6rem;
  top: 185px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  color: #393E46;
}

.intro .name2 {
  position: absolute;
  font-size: 6rem;
  top: 285px;
  height: 118px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  color: #393E46;
}

#bhargav {
  animation: name-ani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes name-ani {
  0% {
    transform: translateY(-447px);
  }

  33% {
    transform: translateY(-329px);
  }

  66% {
    transform: translateY(-105px);
  }

  100% {
    transform: translateY(40px);
  }
}


/* hamburger icon start */

label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  z-index: 9;
  position: fixed;
}

label span {
  background: rgb(102, 144, 203);
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1) {
  width: 50%;

}

span:nth-of-type(2) {
  width: 100%;
}


span:nth-of-type(3) {
  width: 75%;

}


input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

  transform-origin: top;
  transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);

}

/* hamburger icon end */

.active {
  position: fixed;
  top: 0;
  background-color: rgb(0 0 0 / 88%);
  /* width: 100vw; */
  transition: width 2s ease-in-out;
  height: 100vh;
  overflow: scroll;
}


.view {
  display: none;
}

.navbar {
  position: relative;
  z-index: 9;
}

.navitems {
  color: #f1f1f1;
  height: 100vh;
  width: 100vw;
  ;
}

.navitems ul {
  font-size: xx-large;
}

.navitems ul li {
  cursor: pointer;
  width: fit-content;
  width: fit-content;
}

.navcontent {
  margin-left: 63px;
  margin-top: 51px;
}

.content-title {
  height: fit-content;
  width: -webkit-fill-available;
  border-radius: 70px;
  background-color: #393E46;
  position: relative;
  margin: 0 9px;
  padding: 43px 43px 3px 43px;
}

.heading-sm {
  position: relative;
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 0.06em;
  font-weight: 650;

  color: #6D9886;
}

.content-title h2 {
  color: #6D9886;
  font-size: 6.52vw;
  line-height: 100%;
  letter-spacing: -0.024em;
  font-weight: 450;
}


.content {
  position: relative;
  height: fit-content;
  margin-top: 10px;
  /* background-color: #000; */
}

.my-service-row {
  height: 240px;
  padding-top: 7px;
  display: inline-flex;
  width: -webkit-fill-available;
  justify-content: center;
}

.my-service-row_left {
  border-top-left-radius: 70px;
  border-bottom-left-radius: 75px;
  background-color: #393E46;
  display: flex;
  width: 665px;
  position: absolute;
  height: inherit;
}

.my-service-row_right {
  border-radius: 70px;
  background-color: #6D9886;
  width: 665px;
  position: absolute;
  overflow: hidden;
  height: inherit;
  letter-spacing: 0.015em;
  font-weight: 425;
}

.my-service-row_left_card {
  display: flex;
  margin: 7%;

}

.my-service-row_left_icon {
  display: flex;
  margin-right: 9%;
  color: #6D9886;
}

.my-service-row_left_icon i {
  font-size: 42px;
  display: flex;
  margin: auto;
}

.my-service-row_left_text {
  font-size: 19px;
  max-width: 95%;
  letter-spacing: 0.015em;
  font-weight: 425;
  color: #6D9886;
  background: #393E46;

}

.my-service-row_left_text_upper {
  display: flex;
  font-size: 19px;
  font-weight: 625;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

.my-service-row_left_text_lower {
  display: flex;
  line-height: 1.3;
  padding-right: 100px;
}

.my-service-row_right_card {
  height: -webkit-fill-available;
  /* max-width: 200px; */
  display: flex;
  margin: auto;
  font-size: 2.3rem;
  letter-spacing: -1px;
  color: #393E46;
  font-style: italic;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.project-row-feature {
  display: flex;
  position: relative;
  min-height: 380px;
  height: calc(60vh - 40px);
  width: -webkit-fill-available;
  background-color: #F2E7D5;
  border-radius: 70px;
  margin: 9px 9px 0 9px;
  align-items: center;
  /* align-content: center; */
  flex-direction: column;
  justify-content:center;
}

.project-row-feature h1 {
  margin-top: 3%;
  color: #141c3a;
  font-size: 2rem;
  line-height: 1.125;
  word-break: break-word;
  font-family: "eurostile", sans-serif;
}

.project-row-feature h2 {
  margin-bottom: 3%;
  margin-inline: 3%;
  font-family: "europa", sans-serif;
    line-height: 1.5;
    color: #141c3a;
    font-size: 1.25rem;
    font-weight: 400;
    word-break: break-word;
}

.project-row {
  width: -webkit-fill-available;
  height: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin-right: 9px;
  grid-gap: 8px;
  margin-left: 9px;
  position: relative;
  margin-top: 8px;
}

.my-work-card {
  display: flex;
    min-height: 320px;
    width: 100%;
    border-radius: 75px;
    flex-direction: column;
    justify-content: center;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}



.project-image img {
  width: 45px;
  height: 45px;
    object-fit: cover;
  display: flex;
  margin-right: 6px;
  mix-blend-mode: darken;
}

.project-text {

  font-size: 30px;
  color: #393E46;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-description {
  text-align: center;
  margin: 25px;
  font-size: 20px;
}

.experience {
  width: fill-available;
  width: -webkit-fill-available;
  height: 100vh;
  background-color: rgb(110, 7, 243);
  margin: 9px;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  font-family: europa, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.experience-text {
  position: relative;
  top: -55px;
  text-align: center;
  width: 55%;
  color: white;
  font-size: 1.25rem;
  font-family: europa, sans-serif;
  line-height: 1.5;
}

.experience-box {
  position: relative;
  margin: auto;
  background-color: white;
  top: -7rem;
  /* z-index: 3; */
  display: flex;
  width: 93%;
  border-radius: 20px;

}

.experience-box .column {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid;
  border-color: #d6d6d6;
  border-width: 0.06rem;
  width: -webkit-fill-available;
  width: fill-available;
  height: 130vh;
  border-radius: 20px;
}

.column .column-icon {
  margin-inline: auto;
  margin-top: 60px;
  display: flex;
  border-radius: 50%;
  background-color: #5be9b9;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.column .column-title {
  margin-top: 1em;
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  color: #141c3a;
  font-size: 1.3rem !important;
  margin-inline: auto;
  margin-bottom: 0;
}

.column p {
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 2em;
  margin-left: 2em;
}

.column .pur-title {
  color: #6E07F3 !important;
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.5;
}

.column .con {
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 2em;
  margin-left: 2em;
}

.column .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */

.footer{
  margin: 2px;
  background:#393E46;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  
  .footer .row ul li{
  display:inline;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
  
